In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("age_of_marriage_data.csv")
df.head()

,id,gender,height,religion,caste,mother_tongue,profession,location,country,age_of_marriage
0,1,female,"5'4""",NaN,others,Telugu,NaN,London,United Kingdom,21.0
1,2,male,"5'7""",Jain,Shwetamber,Gujarati,Doctor / Healthcare Professional,Fairfax- VA,USA,32.0
2,3,male,"5'7""",Hindu,Brahmin,Hindi,Entrepreneurs / Business,Begusarai,India,32.0
3,4,female,"5'0""",Hindu,Thakur,Hindi,Architect,Mumbai,India,30.0
4,5,male,"5'5""",Christian,Born Again,Malayalam,Sales Professional / Marketing,Sulthan Bathery,India,30.0

In [15]:
df.shape

(2567, 10)

In [16]:
df.isnull().sum()

id                   0
gender              29
height             118
religion           635
caste              142
mother_tongue      164
profession         330
location           155
country             16
age_of_marriage     19
dtype: int64

In [17]:
df.dropna(inplace=True)

In [18]:
df.shape

(1932, 10)

In [19]:
df.head()

,id,gender,height,religion,caste,mother_tongue,profession,location,country,age_of_marriage
1,2,male,"5'7""",Jain,Shwetamber,Gujarati,Doctor / Healthcare Professional,Fairfax- VA,USA,32.0
2,3,male,"5'7""",Hindu,Brahmin,Hindi,Entrepreneurs / Business,Begusarai,India,32.0
3,4,female,"5'0""",Hindu,Thakur,Hindi,Architect,Mumbai,India,30.0
4,5,male,"5'5""",Christian,Born Again,Malayalam,Sales Professional / Marketing,Sulthan Bathery,India,30.0
5,6,male,"5'5""",Hindu,Valmiki,Hindi,Sportsman,Delhi,India,29.0

In [21]:
X = df.drop(columns = ["id","profession","location","age_of_marriage"])

In [24]:
y= df["age_of_marriage"]
y

1       32.0
2       32.0
3       30.0
4       30.0
5       29.0
        ...
2561    30.0
2562    27.0
2563    31.0
2564    28.0
2566    32.0
Name: age_of_marriage, Length: 1932, dtype: float64

In [ ]:
from sklearn import preprocessing